---
---

@import "{{ site.theme }}";

$section_width: 960px;
$section_padding: 20px;

body {
  background: url("../images/science.png");
}

header, footer {
  background: #171717;
  float: none;
  position: relative;
  width: auto;
  padding: $section_padding;
}

section {
  background: #fff;
  float: none;
  width: auto;
  padding: $section_padding;
}

.wrapper {
  width: $section_width;
  margin: 0 auto;
}
